<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to image_tag("University_of_San_Carlos_logo.png", alt: "USC logo"), 'http://rubyonrails.org/'%>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", home_path%></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</header>